@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-navbar {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, max-content));
    justify-content: end;
    gap: $gap-x2;
    @include unlist
  }
}
