@use "../../presets/" as *;
@use "../../mixins/" as *;

.header-logo__link {
  display: block;
  padding: 20px;
  font-size: 24px;
  letter-spacing: 6px;
  line-height: 20px;
  font-family: $font-main;
}

.header-logo__accent {}
